modules = ["nodejs-20", "python-3.11", "web"]
run = "npm run dev"

[nix]
channel = "stable-25_05"
packages = ["bash", "glibcLocales", "libxcrypt"]

[deployment]
run = ["sh", "-c", "npm run dev"]

[workflows]
runButton = "Development Server"

[[workflows.workflow]]
name = "Development Server"
author = 45760252
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
